{% extends "restoplus/base.html" %}
{% load static %}
{% block title %}Ajouter un Employé - RestoPlus{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Ajouter un Nouvel Employé</h3>
                </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST" action="{% url 'add_employee' %}" novalidate >
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% if form.username.errors %}
	                        <div class="text-danger small">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{form.password.label_tag}}
                        {{form.password}}
                        {% if form.password.errors %}
                            <div class="text-danger small">{{ form.password.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{form.password_confirmation.label_tag}}
                        {{form.password_confirmation}}
                        {% if form.password_confirmation.errors %}
                            <div class="text-danger small">{{ form.password_confirmation.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Retour
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-person-plus"></i> Ajouter
                        </button>


                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
