{% extends "restoplus/base.html" %} {% block content %}

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-danger">
        <div class="card-header bg-danger text-white">
          <h4>Accès Refusé</h4>
        </div>
        <div class="card-body text-center">
          <h5 class="mt-3">Vous n'avez pas les permissions nécessaires</h5>
          <a href="{% url 'accueil' %}" class="btn btn-primary"> Retour </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
